.skillsContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.singleSkillContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill {
  font-size: 3.5rem;
  margin: 2vw;
  transition: color 0.5s ease-in-out;
}

.skillName {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
  position: absolute;
  word-wrap: break-word;
  font-weight: 700;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.orangeSkill:hover .skillName,
.orangeSkill.highlight .skillName {
  text-shadow: #fca28a 0px 0px 2px, #fca28a 0px 0px 2px, #fca28a 0px 0px 2px,
    #fca28a 0px 0px 2px;
  opacity: 1;
}

.orangeSkill:hover,
.orangeSkill.highlight {
  color: #fca28a;
}

.orangeSkill:hover .color,
.orangeSkill.highlight .color {
  fill: #fca28a;
}

.blueSkill:hover .skillName,
.blueSkill.highlight .skillName {
  text-shadow: #78d4f5 0px 0px 2px, #78d4f5 0px 0px 2px, #78d4f5 0px 0px 2px,
    #78d4f5 0px 0px 2px;
  opacity: 1;
}

.blueSkill:hover,
.blueSkill.highlight {
  color: #78d4f5;
}

.blueSkill:hover .color,
.blueSkill.highlight .color {
  fill: #78d4f5;
}

.greenSkill:hover .skillName,
.greenSkill.highlight .skillName {
  text-shadow: #ccec9b 0px 0px 2px, #ccec9b 0px 0px 2px, #ccec9b 0px 0px 2px,
    #ccec9b 0px 0px 2px;
  opacity: 1;
}

.greenSkill:hover,
.greenSkill.highlight {
  color: #ccec9b;
}

.greenSkill:hover .color,
.greenSkill.highlight .color {
  fill: #ccec9b;
}

.logoSVG {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
