.social {
  color: #78d4f5;
  padding: 2rem;
  font-size: 3rem;
  transition: color 0.5s ease-in-out;
}

.social:hover {
  color: #ccec9b;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
