.social {
  color: #78d4f5;
  padding: 2rem 1rem;
  font-size: 3rem;
  transition: color 0.5s ease-in-out;
}

.social:hover {
  color: #ccec9b;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  padding: 0 0 0.3rem 0;
}

ul {
  list-style-type: none;
  margin: 0.3rem 0 0 2rem;
  padding: 0;
}

li {
  margin: 0.1rem;
}

@media screen and (max-width: 1023px) {
  p {
    padding: 0 0 0.1rem 0;
  }

  ul {
    margin: 0.4rem 0 0 1rem;
  }

  li {
    margin: 0.2rem;
  }
}
