.header {
  background-color: #a9e6f3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  color: white;
}

.title {
  font-size: 3.5rem;
  font-family: "Arapey", serif;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.subtitle {
  font-size: 2rem;
}

@media screen and (max-width: 1023px) {
  .header {
    width: 100vw;
  }
}
