.header {
  background-image: url(../images/Ice-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 50vw;
}

.overlay {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*Free Alternating Chevron SVG provided by SVGeez.com - CC 4.0 License - © 2019 Megan Young */
  background-color: transparent;
  fill: #fff;
  background-size: 355px 355px;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cstyle%3E.st0%7Bfill:rgba(255,255,255,1)%7D%3C/style%3E%3Cpath class='st0' d='M125 250v125l125 125V375zM250 125L125 0v125l125 125zM250 250v125l125-125V125zM500 250V125L375 0v125zM500 500V375L375 250v125zM125 500V375L0 500zM375 500V375L250 500zM250 0v125L375 0zM0 125L125 0H0zM0 250v125l125-125V125z'/%3E%3C/svg%3E");
}

.gradient {
  height: 100%;
  width: 100%;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.7) 70%,
    rgba(255, 255, 255, 1) 100%
  );
}

.titlebox {
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.title {
  font-family: "Arapey", serif;
  font-size: 3.5rem;
}

.subtitle {
  font-size: 2rem;
}

@media screen and (max-width: 1023px) {
  .header {
    width: 100vw;
  }

  .gradient {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 70%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}
