.sectionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.homeSection {
  min-height: calc(100vh - 4rem);
  font-size: 3rem;
  max-width: 40vw;
  margin: 2rem;
  text-align: left;
}

.fullSections {
  min-height: calc(80vh - 3rem);
  font-size: 3rem;
  width: calc(40vw - 4rem);
  padding: 1.5rem;
  text-align: left;
}

.sectionHeader {
  font-family: "Arapey", serif;
  font-size: 2.7rem;
  padding-bottom: 1rem;
}

.sectionText {
  font-size: 1rem;
}

.social {
  color: #a9e6f3;
  padding: 2rem;
  font-size: 3rem;
}

.social:hover {
  color: #fca28a;
}

.arrow {
  font-size: 2.5rem;
  width: 10vw;
}

.arrow:hover {
  cursor: pointer;
  color: #ecdb9b;
}

.skill {
  font-size: 2.5rem;
  margin: 1rem;
}
