.sectionContainer {
  min-height: calc(100vh - 4rem);
  font-size: 3rem;
  min-width: calc(50vw - 4rem);
  margin: 2rem;
  text-align: left;
}

.sectionHeader {
  font-family: "Arapey", serif;
  font-size: 2.7rem;
  padding-bottom: 1rem;
}

.sectionText {
  font-size: 1rem;
  flex-grow: 4;
}

.social {
  color: #a9e6f3;
  padding: 2rem;
  font-size: 3rem;
}

.social:hover {
  color: #fca28a;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sectionFooter {
  flex-grow: 1;
  font-size: 1.5rem;
  color: #ecdb9b;
  text-align: right;
  font-family: "Arapey", serif;
  font-style: italic;
}

.arrowRight {
  -webkit-animation: bounceRight 2s infinite;
  animation: bounceRight 2s infinite;
  float: right;
  transition: opacity 0.5s ease-in-out;
}

.arrowGone {
  opacity: 0;
}

@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -ms-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}

.skillsContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.singleSkillContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill {
  font-size: 3.5rem;
  margin: 1.5rem;
}

.skillName {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
  position: absolute;
  word-wrap: break-word;
  font-weight: 700;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.orangeSkill:hover .skillName {
  text-shadow: #fca28a 0px 0px 2px, #fca28a 0px 0px 2px, #fca28a 0px 0px 2px,
    #fca28a 0px 0px 2px;
  opacity: 1;
}

.orangeSkill:hover {
  color: #fca28a;
}

.orangeSkill:hover .color {
  fill: #fca28a;
}

.blueSkill:hover .skillName {
  text-shadow: #a9e6f3 0px 0px 2px, #a9e6f3 0px 0px 2px, #a9e6f3 0px 0px 2px,
    #a9e6f3 0px 0px 2px;
  opacity: 1;
}

.blueSkill:hover {
  color: #a9e6f3;
}

.blueSkill:hover .color {
  fill: #a9e6f3;
}

.greenSkill:hover .skillName {
  text-shadow: #ecdb9b 0px 0px 2px, #ecdb9b 0px 0px 2px, #ecdb9b 0px 0px 2px,
    #ecdb9b 0px 0px 2px;
  opacity: 1;
}

.greenSkill:hover {
  color: #ecdb9b;
}

.greenSkill:hover .color {
  fill: #ecdb9b;
}

.logoSVG {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
