.sectionContainer {
  height: calc(100vh - 4rem);
  font-size: 3rem;
  width: calc(50vw - 8rem);
  margin: 2rem 4rem;
  text-align: left;
}

.sectionHeader {
  font-family: 'Whisper', cursive;
  font-size: 3.5rem;
  padding-bottom: 1rem;
}

.sectionText {
  font-size: 1rem;
  flex-grow: 4;
}

@media screen and (max-width: 1023px) {
  .sectionContainer {
    width: calc(100vw - 8rem);
  }
}
