.section {
  height: 50vh;
  width: 100vw;
}

.sectionContainer {
  height: calc(100% - 7rem);
  width: calc(100% - 14rem);
  padding: 3.5rem 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sectionImageContainer {
  width: 40vw;
  max-height: 40vh;

  img {
    max-height: 100%;
  }
}

.sectionText {
  max-width: 70vw;
  margin-right: 2vw;
  vertical-align: middle;
}

.right {
  text-align: right;
  margin-right: 0;
  margin-left: 2vw;
}

.sectionTitle {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
