.section {
  height: 50vh;
  width: 100vw;
}

.sectionContainer {
  height: calc(100% - 7rem);
  width: calc(100% - 14rem);
  padding: 3.5rem 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sectionImageContainer {
  width: 40vw;
  max-height: 40vh;
  text-align: right;

  img {
    max-height: 100%;
  }
}

.sectionText {
  max-width: 70vw;
  margin-right: 2vw;
  vertical-align: middle;
}

.right {
  .sectionText {
    text-align: right;
    margin-right: 0;
    margin-left: 2vw;
  }

  .sectionImageContainer {
    text-align: left;
  }
}

.sectionTitle {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
  .section {
    height: fit-content;
    width: 100vw;
    padding-bottom: 13vh;
  }

  .sectionContainer {
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: calc(100% - 4rem);
    width: calc(100% - 6rem);
    padding: 2rem 3rem;
  }

  .sectionText {
    min-width: 100%;
  }

  .sectionImageContainer {
    width: 100%;
    height: fit-content;
    max-height: none;

    img {
      width: 100%;
    }
  }

  .right {
    flex-direction: column;
    justify-content: flex-start;

    .sectionText {
      text-align: left;
      margin: 0;
    }
  }

  .titleSection {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}
