.headerContent {
  height: 100%;
  width: 100%;
}

.headerImageContainer {
  display: flex;
  flex-direction: flex-end;
  height: 50vh;
  position: absolute;
  bottom: 3rem;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15vw;
  top: 30vh;
  text-align: center;
}

.name {
  font-size: 4rem;
  font-weight: bold;
}

.subtitle {
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  .headerContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    padding-top: 5rem;
    position: inherit;
  }

  .name {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .headerImageContainer {
    width: 100vw;
    position: inherit;
    height: fit-content;

    img {
      max-width: 100%;
    }
  }
}
