.headerContent {
  height: 100%;
  width: 100%;
}

.headerImageContainer {
  display: flex;
  flex-direction: flex-end;
  height: 50vh;
  position: absolute;
  bottom: 3rem;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15vw;
  top: 30vh;
}

.name {
  font-size: 4rem;
  font-weight: bold;
}

.subtitle {
  font-size: 2rem;
}
