.projectHeader {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectsTitle {
  padding: 20vh 10vw 0 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.projectHeaderImageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.projectHeaderImage {
  width: 100%;
}
