.projectsTitle {
  padding: 0;
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  width: 40vw;
}

.titleWithIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1rem;

  .sectionTitle {
    padding: 0;
  }

  &.defcon {
    justify-content: flex-start;
  }

  .winner {
    height: 3rem;
    padding: 0 0.5rem;
  }

  .roo {
    height: 2rem;
    padding: 0 0.5rem;
  }
}
