.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

a {
  color: #78d4f5;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.5s ease-in-out;
}

a:hover {
  color: #fca28a;
}
