body {
  margin: 0;
  font-family: "Arapey", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: calc(4 * 50vw);
  height: 100vh;
}

@media screen and (max-width: 1023px) {
  body {
    width: calc(4 * 100vw);
  }
}
