/**************** BULMA STYLES ****************/

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,700|Raleway:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap');

// Set your brand colors
$skyblue: #00a4e8;
$green: rgb(107, 255, 134);
$slash-font: "Work Sans", sans-serif;


// Update Bulma's global variables
$family-sans-serif: "Raleway", sans-serif;
$title-family: "Hind", sans-serif;
$family-secondary: $title-family;
$link: $skyblue;
$success: $green;


// Update some of Bulma's component variables
$body-background-color: white;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";


/**************** OWN STYLES ****************/

* {
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

.backslash {
  font-family: $slash-font;
}

.title .backslash {
  font-weight: 900;
  color: $green;
}

.title {
  font-size: 1.5rem;
}

.hero-title {
  font-size: 2rem;
}

/********* HERO *********/

#hero {  

  background-image: url(./images/pattern-ice.png);
  background-size: cover;
  background-repeat: no-repeat;

  .columns {
    height: 100%;
  }
  
  #title-column {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);

  } 

  .subtitle {
    margin-left: 35px;
  }

  .hero-body {
  /*Free Alternating Chevron SVG provided by SVGeez.com - CC 4.0 License - © 2019 Megan Young */
  background-color:transparent;
  fill:#fff;
  background-size:355px 355px;
  background-repeat:repeat;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cstyle%3E.st0%7Bfill:rgba(255,255,255,1)%7D%3C/style%3E%3Cpath class='st0' d='M125 250v125l125 125V375zM250 125L125 0v125l125 125zM250 250v125l125-125V125zM500 250V125L375 0v125zM500 500V375L375 250v125zM125 500V375L0 500zM375 500V375L250 500zM250 0v125L375 0zM0 125L125 0H0zM0 250v125l125-125V125z'/%3E%3C/svg%3E");
  }

  .hero-foot {
    background-color: white;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    a::after {
      content: "";
      width: 20px;
      border: 0.5px solid $green;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    
    a:hover::after {
      opacity: 1;
    }
  }
}

/********* ABOUT / SKILLS *********/ 

.columns.section {
  padding-top: 0;
  padding-bottom: 0;
}

#about {
  a {
    color: $text;
    transition: color 0.3s ease-in-out;
  }

  a:hover {
    color: $green;
  }


}

#experience {

  margin-top: 20px;
  min-height: 28vh;

  .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    figure {
      padding-top: 0;
      padding-bottom: 30px;
      flex-grow: 1;
      display: flex;
      justify-content: center;

      svg {
        fill: $text;
        transition: opacity 0.2s ease-in-out;
      }

      &.bar {
        background-image: url(./images/arrow.svg);
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 500px 23px;

        svg {
          opacity: 0.6;
        }
        
        &.selected {
          background-position: bottom center;

          svg {
            opacity: 1;
          }
        }


      }


    }
  }

  .infos {
    margin-top: 20px;
  }
}

/********* SKILLS *********/

#skills {

  .column {
    i {
      font-size: 50px;
      transition: color 0.5s ease-in-out;
    } 

    i.smaller {
      font-size: 47px;
    }

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    div.label {
      position: absolute;
      max-width: 100%;
      opacity: 0;
      word-wrap: break-word;
      text-align: center;
      transition: opacity 0.5s ease-in-out;
    }
  }

  .column:hover {
    i {
      color: $green;
    }
    div.label {
      opacity: 1;
    }
  }


  svg {
    path:not(.white) {
      fill: $text;
      transition: fill 0.3s ease-in-out;
    }
  }

  div.column:hover {
    path:not(.white) {
    fill: $green;
    }
  }
}

/********* PROJECTS *********/

#projects {

  .slidecontrol {
    margin-bottom: 30px;
    
    a {
      border: none;
      font-weight: 300;
      color: $text;
      padding: 10px 14px;
    }

    .pagenum {
      transition: color 0.3s ease-in-out;
    }

    .pagenum:hover {
      color: $green;
    }

    .current {
      font-weight: 700;
    }

    .pagenum.current:hover {
      color: $text;
    }

    .arrow {
      color: lightgray;
    }

    .active {
      color: $green;
    }

    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .slide {
    display: none;

    a:not(.textlink) {
      margin: 5px;
      color: $green;
      &:hover {
        color: rgba($green, 0.6)
      }
    }
  }

  a.textlink {
    color: $text;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: $green;
    }
  }

  .tech {
    .icon {
      svg {
        fill: $text;
      }
      display: inline;
      margin: 5px;
    }
  }

  .selected {
    display: flex;
    -webkit-animation: fade-in 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }


  .mobile-only {
    display: none !important;
  }

  @media only screen and (max-width: 1023px) {
    .desktop-only {
      display: none !important;
    }

    .mobile-only {
      display: block !important;
    }

    .slidecontrol a {
      padding: 10px 8px;
    }
  }

  @media screen and (max-width: 1023px) {

    .tile:not(.is-child) {
      display: block;
      width: 100%;
    }

}

  .screenshot {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

}

 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/********* CONTACT *********/

#contact {

  .contact-level {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  i {
    color: $green;
    font-size: 35px;
    margin: 10px;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: rgba($green, 0.6)
    }
  }
}